# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Env (secrets)
.env
.env.local
.env.*.local

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo
